*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 300ms;
}
html {
  height: 100%;
  background: white;
  background: #E7E7DB;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #333735;
  background: #E7E7DB;
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  min-height: 100%;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 15em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  color: rgba(51, 55, 53, 0.8);
}
h2 {
  font-size: 115px;
  font-weight: 800;
  color: rgba(51, 55, 53, 0.15);
  margin: 0;
}
h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 ;
}
h4 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
}
h5 {
  margin-top: 1rem;
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
p {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.3em;
}
ul {
  padding: 0;
}
li {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5em;
  margin-left: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
div.index {
  margin: 100px auto 0;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}
div.index header,
div.index main {
  display: contents;
}
div.index .contact {
  text-align: right;
  font-weight: 600;
  grid-column: 3 / span 2;
  grid-row: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 0 40px;
  opacity: 0.4;
  text-transform: uppercase;
  letter-spacing: 7px;
}
div.index .title-block {
  grid-column: 1 / span 4;
  grid-row: 2;
}
div.index .title-block .name {
  margin: 0 0 0 0;
  font-size: 115px;
}
div.index .title-block .title {
  margin: -60px 0 0 0;
  text-align: right;
}
div.index .why-statement {
  grid-column: 2 / span 3;
  grid-row: 3;
  text-align: right;
  font-size: 2.5em;
  font-weight: 300;
  font-style: italic;
  margin: 80px 0 80px;
  color: #B3413D;
}
div.index .header-divider {
  grid-column: 1 / span 4;
  grid-row: 4;
  border: none;
  background-color: #333735;
  height: 1px;
  margin: 30px 0 80px;
}
div.index .process-title {
  margin: 0;
  grid-column: 1;
  grid-row: 5 / span 2;
  transform: rotate(90deg);
  position: absolute;
  left: -364px;
  top: 337px;
}
div.index .design-process {
  padding: 0px 40px 0px 100px;
  border: none;
  position: relative;
  grid-column: 1;
  grid-row: 5 / span 2;
  border-right: solid 1px #333735;
}
div.index .design-process p {
  font-weight: 300;
  font-size: 16px;
}
div.index .portfolio-title {
  grid-column: 2 / span 3;
  grid-row: 5;
  margin: -25px 0 -41px 4px;
}
div.index .portfolio-section {
  padding: 0 30px;
}
div.index .portfolio-section small {
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 55, 53, 0.5);
  margin: -2px 0 12px;
  display: block;
}
div.index .blizzard-portfolio {
  grid-column: 4;
  grid-row: 6;
  border-left: solid 1px #333735;
}
div.index .healthicity-portfolio {
  grid-column: 3;
  grid-row: 6;
  border-left: solid 1px #333735;
}
div.index .other-portfolio {
  grid-column: 2;
  grid-row: 6;
  place-self: start stretch;
}
div.index .portfolio-piece {
  display: block;
  color: #333735;
  margin-bottom: 10px;
  padding: 10px 0;
}
div.index .portfolio-piece:not(:last-child) {
  border-bottom: solid 1px #333735;
}
div.index .portfolio-piece h4 {
  font-size: 16px;
  margin: 12px 0 6px;
}
div.index .portfolio-piece img {
  filter: grayscale(1);
  mix-blend-mode: multiply;
  max-width: 100%;
}
div.index .portfolio-piece:hover p,
div.index .portfolio-piece:hover h4 {
  color: #B3413D;
}
div.index .portfolio-piece:hover img {
  filter: grayscale(0);
}
div.index footer {
  border-top: solid 1px #333735;
  margin: 50px 0;
  padding: 50px 0;
  grid-column: 1 / span 4;
  grid-row: 7;
}
div.index .quote {
  text-align: center;
  font-size: 18px;
}
div.index .tp-logo {
  width: 150px;
  display: block;
  margin: 50px auto 0;
}
div.index .logo-color {
  fill: #B3413D;
}
.trev-image {
  background: url(/images/trev.png) 0 50% no-repeat;
  background-size: contain;
  mix-blend-mode: luminosity;
  transform: scaleX(-1);
  opacity: 0.1;
  min-width: 2350px;
  height: 100%;
  margin: 0 auto;
}
.trev {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 871px;
}
