body.home {
  background: whitesmoke;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.home nav {
  order: 2;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 900px) {
  body.home nav {
    flex-direction: row;
    flex: 0 1 auto;
    align-items: center;
    width: 600px;
  }
}
body.home nav a {
  display: block;
  flex: 1 1 84px;
  -webkit-filter: grayscale(1);
  position: relative;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}
body.home nav a:hover {
  -webkit-filter: grayscale(0);
}
@media screen and (min-width: 600px) {
  body.home nav a {
    flex-basis: 114px;
  }
}
@media screen and (min-width: 900px) {
  body.home nav a {
    flex-basis: 200px;
    min-height: 200px;
  }
}
body.home nav a picture {
  width: 100%;
  display: block;
}
@media screen and (min-width: 600px) {
  body.home nav a picture {
    max-width: 400px;
  }
}
@media screen and (min-width: 900px) {
  body.home nav a picture {
    max-width: 100px;
  }
}
body.home nav a div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: 300ms ease;
}
@media screen and (min-width: 900px) {
  body.home nav a div {
    border: none;
  }
}
@media screen and (min-width: 900px) {
  body.home nav a div {
    padding: 0 2em;
  }
}
body.home nav a .back {
  opacity: 0;
}
@media screen and (min-width: 900px) {
}
body.home nav a:hover .front {
  opacity: 0;
}
@media screen and (min-width: 900px) {
}
body.home nav a:hover .back {
  opacity: 1;
}
@media screen and (min-width: 900px) {
}
body.home main {
  order: 1;
  flex: 1;
  padding: 4rem 1rem ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 900px) {
  body.home main {
    order: 1;
    padding: 2rem;
    flex: 1 1 auto;
    width: 600px;
  }
}
body.home main img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-bottom: 1em;
  -webkit-filter: grayscale(1);
}
body.home main section {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1em;
}
body.home main section div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  body.home main section {
    flex: 1 1 400px;
    height: 200px;
    position: relative;
  }
  body.home main section div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  body.home main section:hover img {
    -webkit-filter: grayscale(0);
  }
}
body.home .designs {
  background-color: #ce3f75;
  color: #fff;
}
body.home .designs:hover {
  background-color: #CE3F75;
}
body.home .ideas {
  background-color: #00ac6a;
  color: #fff;
}
body.home .ideas:hover {
  background-color: #00ac6a;
}
body.home .connect {
  background-color: #0077b5;
  color: #fff;
}
body.home .connect:hover {
  background-color: #0077B5;
}
body.home h1,
body.home h2 {
  margin: 0;
  padding: 0;
}
body.home h2 {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 900px) {
  body.home h2 {
    text-align: center;
  }
}
body.home h1 {
  color: gray;
  line-height: 1.25em;
  font-size: 2em;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 900px) {
  body.home h1 {
    font-weight: 100;
    font-size: 2.5em;
  }
}
.home footer {
  color: #93968f;
  order: 3;
  flex: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: none;
  box-shadow: none;
  padding: 2em 0;
  margin: 1rem auto;
}
.home footer .contact {
  color: inherit;
}
.home footer .contact a:hover {
  color: #585953;
}
body > footer {
  background-color: #585953;
  padding: 3rem 0 2rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10em;
  color: rgba(255, 255, 255, 0.6);
}
body > footer .branding {
  margin: 3em auto 8em;
  color: #fff;
  text-decoration: none;
  display: block;
  opacity: 0.6;
  width: 30rem;
  transition: 0.3s ease;
}
body > footer .branding:hover {
  opacity: 1;
}
body > footer .branding .logo {
  width: 5rem;
  height: 5rem;
}
body > footer .branding .website {
  font-size: 1.5em;
  font-weight: 300;
  color: inherit;
  margin: .5em 0 0em;
}
body > footer .contact {
  border-bottom: solid 1px #bcbeb9;
  margin: 0  auto .5em;
  padding: .5em 1em;
  font-size: 1.5rem;
  color: #bcbeb9;
  transition: 0.3s ease;
  max-width: 320px;
}
body > footer .contact a {
  color: inherit;
  transition: 0.3s ease;
  margin: 0 .25em;
}
body > footer .contact a:hover {
  color: #fff;
}
body > footer p {
  color: inherit;
  font-size: 1em;
  margin: 0;
}
body > header {
  padding: 5em 0;
  position: relative;
  background: #585953 50% no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: 1em;
}
body > header .header-content {
  text-align: center;
}
@media screen and (min-width: 300px) {
  body > header {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 600px) {
  body > header {
    font-size: 2em;
  }
}
@media screen and (min-width: 900px) {
  body > header {
    font-size: 3em;
  }
}
@media screen and (min-width: 1200px) {
  body > header {
    font-size: 4em;
  }
}
body > header h1 {
  font-size: 3em;
  margin: 0;
  font-weight: 700;
}
body > header h3 {
  font-size: .8em;
  margin: 0;
  font-weight: 300;
}
body > nav {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 3;
  background-color: #585953;
  text-align: center;
}
body > nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  height: 3rem;
  padding: 0 2rem;
  line-height: 3rem;
  font-size: 1.4em;
  font-weight: 300;
  transition: 0.3s ease;
}
body > nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.case-study > main {
  margin-top: 5em;
}
@media screen and (min-width: 900px) {
  .case-study > main {
    padding: 1em;
  }
}
.case-study > main section {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding: 0 1rem 2rem;
}
@media screen and (min-width: 900px) {
  .case-study > main section {
    margin: 0 auto 5em;
    padding: 0 2rem 2rem;
    max-width: 60rem;
    border-radius: .5em;
  }
}
.case-study > main section h2 {
  margin: 0 -2rem 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background: #585953;
  color: #fff;
  font-weight: 400;
  font-size: 2em;
}
@media screen and (min-width: 900px) {
  .case-study > main section h2 {
    font-size: 2em;
  }
}
.case-study > main section h4 {
  margin: 2em 0 0.5rem;
}
.case-study > main .starting-out {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.case-study > main .ideation .version {
  *zoom: 1;
  margin-bottom: 2em;
  text-align: center;
}
.case-study > main .ideation .version:before,
.case-study > main .ideation .version:after {
  display: table;
  content: "";
  line-height: 0;
}
.case-study > main .ideation .version:after {
  clear: both;
}
.case-study > main .ideation .version img {
  margin: 0 auto;
  display: block;
}
.case-study > main .ideation .version p {
  text-align: left;
}
@media screen and (min-width: 900px) {
  .case-study > main .ideation .version {
    text-align: left;
  }
  .case-study > main .ideation .version img {
    width: 40%;
  }
  .case-study > main .ideation .version:nth-child(odd) img {
    float: right;
    margin-left: 2em;
  }
  .case-study > main .ideation .version:nth-child(even) img {
    float: left;
    margin-right: 2em;
  }
}
.case-study > main .final {
  margin: 4em auto;
  max-width: 80%;
  display: block;
}
.dashboard > header {
  background-image: url(/images/dashboard/healthicity-dashboard-large-blur.jpg);
}
.dashboard > nav {
  background-color: #ff3d4d;
}
.case-study-main > header {
  background-image: url(/images/desktop.jpg);
}
.case-study-main > main {
  margin: 2em 0;
}
.case-study-main > main section {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 100%;
  padding: 1em;
}
.case-study-main > main section:before,
.case-study-main > main section:after {
  display: table;
  content: "";
  line-height: 0;
}
.case-study-main > main section:after {
  clear: both;
}
@media (min-width: 600px) {
  .case-study-main > main section {
    width: 598px;
  }
}
@media (min-width: 900px) {
  .case-study-main > main section {
    width: 898px;
  }
}
@media (min-width: 1200px) {
  .case-study-main > main section {
    width: 1198px;
  }
}
@media (min-width: 1500px) {
  .case-study-main > main section {
    width: 1498px;
  }
}
.case-study-main > main .case-studies {
  border-top: solid 1px #585953;
  padding-top: 3em;
  *zoom: 1;
  display: flex;
  flex-direction: column;
}
.case-study-main > main .case-studies:before,
.case-study-main > main .case-studies:after {
  display: table;
  content: "";
  line-height: 0;
}
.case-study-main > main .case-studies:after {
  clear: both;
}
@media screen and (min-width: 900px) {
  .case-study-main > main .case-studies {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: .5em;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .card {
    margin: 1%;
    flex: 0 1 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin: 1%;
    flex: 0 1 31.3333%;
  }
}
@media screen and (min-width: 1500px) {
  .card {
    margin: 1%;
    flex: 0 1 23%;
  }
}
.card > header {
  background: url(/images/desktop.jpg) 50% no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding-bottom: 60%;
  position: relative;
  transition: all 1s ease;
}
.card > header .icon {
  width: 6rem;
  height: 6rem;
  background: #585953;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -3rem;
}
.card > main {
  margin-top: 3rem;
  padding: 1rem ;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .card > main {
    min-height: 15em;
  }
}
@media screen and (min-width: 600px) {
  .card > main {
    min-height: 15em;
  }
}
.card > main p.overview {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #93968f;
}
.card > footer {
  text-align: center;
}
.card > footer .btn {
  display: inline-block;
  width: auto;
  color: #93968f;
  padding: 1rem 1.5rem;
  font-size: 1.6em;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 1.5rem;
  border: solid 0.1rem #93968f;
  border-radius: .2em;
  transition: 0.3s ease;
}
.card:hover > header {
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 130%;
}
.card.healthicity > header {
  border-bottom: solid 8px #ff3d4d;
}
.card.healthicity > header .icon {
  background-color: #ff3d4d;
}
.card.healthicity > footer .btn {
  color: #ff3d4d;
  border-color: #ff3d4d;
}
.card.healthicity > footer .btn:hover {
  background-color: #ff3d4d;
  color: #fff;
}
.card.experticity > header {
  border-bottom: solid 8px #f04236;
}
.card.experticity > header .icon {
  background-color: #f04236;
}
.card.experticity > footer .btn {
  color: #f04236;
  border-color: #f04236;
}
.card.experticity > footer .btn:hover {
  background-color: #f04236;
  color: #fff;
}
.card.verisk > header {
  border-bottom: solid 8px #0177a9;
}
.card.verisk > header .icon {
  background-color: #0177a9;
}
.card.verisk > footer .btn {
  color: #0177a9;
  border-color: #0177a9;
}
.card.verisk > footer .btn:hover {
  background-color: #0177a9;
  color: #fff;
}
.card.needle > header {
  border-bottom: solid 8px #02bfd3;
}
.card.needle > header .icon {
  background-color: #02bfd3;
}
.card.needle > footer .btn {
  color: #02bfd3;
  border-color: #02bfd3;
}
.card.needle > footer .btn:hover {
  background-color: #02bfd3;
  color: #fff;
}
.coming-soon {
  position: relative;
  pointer-events: none;
}
.coming-soon:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.coming-soon:after {
  content: "Coming Soon";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #585953;
  z-index: 2;
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}
.coming-soon footer .btn {
  visibility: hidden;
}
.card.dashboard > header {
  background-image: url(/images/dashboard/healthicity-dashboard-small.jpg);
}
.card.ecommerce > header {
  background-image: url(/images/ecommerce/experticity-ecommerce-small.jpg);
}
.card.answers > header {
  background-image: url(/images/answers/verisk-answers-small.jpg);
}
.card.pattern-library > header {
  background-image: url(/images/pattern-library/healthicity-pattern-library-small.jpg);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  color: #585953;
  background: whitesmoke;
  position: relative;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 3em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  font-weight: 300;
}
h4 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
}
p {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5em;
}
ul {
  padding: 0;
}
li {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5em;
  margin-left: 1rem;
}
