

.case-study {
	background: no-repeat 50%;
	
	background-attachment: fixed;
	background-size: cover;
	background-color: @color-green-dark;
	& > header {
		padding-top: 10rem;
		@media screen and (min-width: @screen-sm) {
			padding-top: 5rem;
		}
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 0;

		.logo {
			border: solid 3px @color-white;
			border-radius: 50%;
		}
	}
	& > main {
		margin-top: 27rem;
		background-color: @color-white;
		box-shadow: 0 0px 100px rgba(0, 0, 0, 1);
		padding: 7em 2em 10em;
		position: relative;
		z-index: 4;
		.skew-outer(-12deg);
		@media screen and (min-width: @screen-sm) {
			margin-top: 20rem;
		}
		@media screen and (min-width: @screen-sm) {
			margin-top: 30rem;
		}
		@media screen and (min-width: @screen-md) {
			padding: 15em 2em 10em;
			margin-top: 35rem;

		}
		@media screen and (min-width: @screen-lg) {
			margin-top: 40rem;
		}
		@media screen and (min-width: @screen-xl) {
			margin-top: 45rem;
		}
		.content {
			.skew-inner(-12deg);
		}
		section{
			max-width: 40rem;
			margin: 0 auto;
			padding: 0 1rem 2rem;
			@media screen and (min-width: @screen-md) {
				margin: 0 auto 5em;
				padding: 0 2rem 2rem;
				border-radius: .2rem;
				font-size: 0.7rem;
			}
			h2 {
				
				font-family: @font-sans;
				margin: 1rem 0rem ;
				padding: 0 0 .2em 0;
				// color: @color-white;
				font-weight: 800;
				font-size: 3em;
				// border-bottom: solid 2px @color-green-dark;
				color: @color-green-dark;
				
			}
			h4 {
				font-size: 1rem;
				margin: 2em 0 0.5rem;
				text-transform: uppercase;
				text-align: left;

			}
			li {
				margin-bottom: 0
			}
			a {
				color: @color-green-dark;
				font-weight: 700;
			}
		}
		h2, h3, h4 {
			// text-align: center;
			// @media screen and (min-width: @screen-md) {
			// 	text-align: left;
			// }

		}
		
		.images {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 2em;
			align-content: flex-start;
			margin-bottom: 2em;
			img {
				margin: 0 auto 2rem;
				display: block;
				cursor: pointer;
			}
			p {
				text-align: left;
			}
			&.small {
				flex-direction: row;
				@media screen and (min-width: @screen-md) {
					img{
						width: 48%;
						margin: 0 0 1rem;
						border: solid 1px @color-gray-light;
					}
				}
			}
			
		}
		.prototype-image {
				max-width: 20rem;
			}
		.results {
			// max-width: 60rem;
			.final {
				margin: 0  auto 2rem;
			}
			// h2, p {
			// 	max-width: 40rem;
			// 	margin-left: auto;
			// 	margin-right: auto;
			// }
			
		}
		blockquote {
			font-size: 2em;
			font-weight: 700;
			color: @color-gray-light;
			margin: 4rem 2rem;
			position: relative;
			&:before {
				content: "“";
				position: absolute;
				left: -0.3em;
				font-size: 5em;
				top: -0.4em;
				opacity: 0.3;
				font-family: serif;
			}
		}
	}
	& > footer {
		background: @color-green-dark;
		z-index: 3;
		position: relative;
		padding-top: 40rem;
		margin-top: -30rem;
		margin-bottom: 0;
	}
	.back {
		font-size: 1.25rem;
		display: block;
		margin: 7rem auto 3rem;
		width: 15em;
		text-align: center;
		background-color: @color-white;
		border: solid 2px @color-green-dark;
		color: @color-green-dark;
		font-weight: 400;
		padding: 1.5em 2em;
		float: none;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: .2rem;
		max-width: 80%;
		.shadow();

	}


	#overlay {
	  display:none;
	  position:fixed;
	  top:0;
	  left:0;
	  width:100%; height:100%;
	  background-color:rgba(0,0,0,0.8);
	  background-repeat:no-repeat;
	  background-position: center center;
	  cursor:pointer;
	  background-size: contain;
	  z-index: 12;
	  @media screen and (max-width: @screen-md) {
			display: none !important;
		}
	}




	// &.dashboard {
	// 	background: @color-healthicity;
	// 	> nav, {
	// 		// background-color: @color-healthicity;
	// 	}
	// 	.back, & footer  {
	// 		background-color: @color-healthicity;
	// 	}

	// }

	// &.store {
	// 	background: @color-experticity;
	// 	> nav, {
	// 		// background-color: @color-experticity;
	// 	}
	// 	.back, & footer  {
	// 		background-color: @color-experticity;
	// 	}
	// }

	// &.answers {
	// 	background: @color-verisk;
	// 	> nav, {
	// 		// background-color: @color-verisk;
	// 	}
	// 	.back, & footer  {
	// 		background-color: @color-verisk;
	// 	}

		
	// }
}





