.case-study-main {
	background: no-repeat 50%;
	background-image: url(/images/page-background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-color: fade(@color-gray-dark, 50%);
	background-blend-mode: multiply;
	.content {
		padding: 1em;
		.container();
	}

	h2 {
		border-bottom: solid 2px white;
		padding-bottom: 0.4em;
	}
	p {

	}
	& > header {		
		@media screen and (min-width: @screen-lg) {
			font-size: 4rem;

		}
	}
	& > main {
		margin: 2em 0;
		padding: 0;
		.content {
			
		}
		section.overview {
			text-align: left;
			margin-bottom: 2rem;
			background: @color-blue-darker-a;
			box-shadow: 0 0px 5rem rgba(0, 0, 0, 0.3);
			padding: 7em 1em;

			a {
				color: @color-blue-light;
			}
			
			@media screen and (min-width: @screen-sm) {
				font-size: 1.2em;
				.skew-inner(20deg);
				padding: 15em 0;
				margin: -12em auto;
			}
			@media screen and (min-width: @screen-md) {
				padding: 15em 0;
			}
			@media screen and (min-width: @screen-lg) {
				padding: 30em 0;
				margin: -20em auto -25em;
			}
			@media screen and (min-width: @screen-xl) {
			}
			
			
			.content {
				padding: 1em;
				max-width: 30rem;
				@media screen and (min-width: @screen-sm) {
					.skew-outer(20deg);
				}
				color: @color-white;
				.contact {
					a {
						color: @color-white;
						font-size: 5em;
						opacity: 0.7;
						.animate();
						&:not(:last-child) {
							margin-right: 0.5em;
						}
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		.case-studies {
			position: relative;
			z-index: 8;
			padding: 5em 0 ;
			 .content {
				padding-top: 3em;
				.clearfix();
				display: flex;
				flex-direction: column;
				@media screen and (min-width: @screen-md) {
					flex-direction: row;
					flex-wrap: wrap;
				}
			}
		}
		section.contact {
			text-align: center;
			margin-bottom: 2rem;
			background: @color-green-darker-a;
			box-shadow: 0 0px 100px rgba(0, 0, 0, 0.12);
			padding: 10em 0;
			// font-size: 1.4em;
			
			@media screen and (min-width: @screen-sm) {
				font-size: 2.0em;
				.skew-outer(20deg);
				padding: 15em 0;
				margin: -12em auto 0;
			}
			@media screen and (min-width: @screen-md) {
				font-size: 2.2em;
			}
			@media screen and (min-width: @screen-lg) {
				margin: -10em auto 0;
			}
			@media screen and (min-width: @screen-xl) {
			}
			.content {
				padding: 1em;
				max-width: 40rem;
				color: @color-white;
				@media screen and (min-width: @screen-sm) {
					.skew-inner(20deg);
				}
				.contact-icons {
					a {
						color: @color-white;
						font-size: 5em;
						opacity: 0.7;
						.animate();
						&:not(:last-child) {
							margin-right: 0.5em;
						}
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	& > footer {
		.branding {
			margin-bottom: 0;
			.logo {
				width: 10rem;
				height: 10rem;
				margin-bottom: 1em;
			}
			.website {
				font-size: 1.5em;
				font-weight: 300;
				color: inherit;
				margin: .5em 0 0em;
				
			}
		}
	}
	
}

.card {
	// .skew-inner(8deg);
	@media screen and (min-width: @screen-xl) {
		-webkit-filter: grayscale(1);
		.animate();
		&:hover {
				-webkit-filter: grayscale(0);
		}
	}

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	width: ~"calc(100% - 4rem)";
	margin: 2rem;
	background-color: @color-white;
	@media screen and (min-width: @screen-md) {
		flex: 0 1;
		flex-basis: ~"calc(49% - 4rem)"; 
	}
	// @media screen and (min-width: @screen-xl) {
	// 	flex-basis: ~"calc(33% - 4rem)"; 
	// }
	@media screen and (min-width: @screen-xl) {
		flex-basis: ~"calc(33% - 4rem)"; 
	}
	border-radius: 5em;
	overflow: hidden;
	& > header {
		background: url(/images/desktop.jpg) 50% no-repeat;
		background-size: 100%;
		background-color: rgba(0,0,0,0.5);
  		background-blend-mode: multiply;
		padding-bottom: 60%;
		position: relative;
		transition: all 1s ease;
		border-bottom: solid 8px @color-white;
		.icon {
			width: 6rem;
			height: 6rem;
			background: @color-white;
			border-radius: 50%;
			// .animate(1s);
			.center-horizontal();
			bottom: -3rem;

		}

	}
	& > main {
		
		margin-top: 3rem;
		padding: 1rem 2rem;
		text-align: center;
		@media screen and (min-width: @screen-sm) {
			min-height: 15em;
		}
		@media screen and (min-width: @screen-sm) {
			min-height: 15em;
		}
		.title {
			margin-bottom: .5em;
			color: @color-white;
		}
		p.overview {
			font-size: 1.6em;
			line-height: 1.2em;
			color: @color-white;
		}

	}
	& > footer {
		text-align: center;
		.btn {
			display: inline-block;
			width: auto;
			color: @color-white;
			padding: 1rem 1.5rem;
			font-size: 1.6em;
			text-decoration: none;
			font-weight: 600;
			text-align: center;
			margin: 0 auto 1.5rem;
			border: solid .1rem @color-white;
			border-radius: .2em;
			transition: 0.3s ease;
			background: transparent;
			&:hover{
				background-color: @color-white;
				color: @color-gray-dark;
			}
		}
	}
	&:hover {
		& > header {
			background-color: rgba(0,0,0,0.2);
			background-size: 130%

		}
		// .icon {
		// 	width: 7rem;
		// 	height: 7rem;
		// 	bottom: -3.5rem;
		// }
		& > footer .btn{
			// background-color: @color-gray-medium;
			// color: @color-white;
		}

	}
}


.card.healthicity {
	background-color: @color-healthicity;
	& > footer {
		.btn {
			&:hover{
				color: @color-healthicity;
			}
		}
	}
}

.card.experticity {
	background-color: @color-experticity;
	& > footer {
		.btn {
			&:hover{
				color: @color-experticity;
			}
		}
	}
}

.card.verisk {
	background-color: @color-verisk;
	& > footer {
		.btn {
			&:hover{
				color: @color-verisk;
			}
		}
	}
}
.card.needle {
	background-color: @color-needle;
	& > footer {
		.btn {
			&:hover{
				color: @color-needle;
			}
		}
	}
}


.coming-soon{ 
	// opacity: 0.5;
	position: relative;
	font-family: @font-serif;
	pointer-events: none;
	&:before {
		content: "";
		background-color: rgba(150, 150, 150, 0.85);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
	&:after {
		content: "Coming Soon";
		.center-all();
		color: @color-white;
		z-index: 2;
		font-size: 4em;
		line-height: 1em;
		text-align: center;
	}
	footer .btn {
		visibility: hidden;
	}

}




.card.dashboard > header {
	background-image: url(/images/dashboard/healthicity-dashboard-small.jpg);
}

.card.ecommerce > header {
	background-image: url(/images/store/experticity-store-small.jpg);
}
.card.answers > header {
	background-image: url(/images/answers/verisk-answers-small.jpg);
}
.card.pattern-library > header {
	background-image: url(/images/pattern-library/healthicity-pattern-library-small.jpg);
}





