body > footer {
	background-color: @color-gray-dark;
	padding: 3rem 0 5rem;
	color: @color-white;
	text-align: center;
	box-shadow: @shadow-level-2r;
	margin-top: 10em;
	color: rgba(255, 255, 255, 0.6);
	
	.icon {
		width: 5rem;
		height: 5rem;
		opacity: .6;
		margin: 3em;
	}
	.name {
		font-size: 1.5em;
		font-weight: 300;
		color: inherit;
		margin: .5em 0 0em;
		text-decoration: none;
		display: block;
	}
	.contact {
		border-bottom: solid 1px @color-gray-light;
		margin: 0  auto .5em;
		padding: .5em 1em;
		font-size: 1.5rem;
		color: @color-gray-light;
		transition: 0.3s ease;
		max-width: 320px;

		a {
			color: inherit;
			transition: 0.3s ease;
			margin: 0 .25em;
			&:hover {
				color: @color-white;
			}
		}
	}
	p {
		color: inherit;
		font-size: 1em;
		margin: 0
	}

}