body > footer {
	background-color: @color-gray-dark;
	padding: 3rem 0 2rem;
	color: @color-white;
	text-align: center;
	box-shadow: @shadow-level-2r;
	margin-top: 10em;
	color: rgba(255, 255, 255, 0.6);
	
	
	.branding {
		margin: 3em auto 8em;
		color: @color-white;
		text-decoration: none;
		display: block;
		opacity: 0.6;
		width: 30rem;
		.animate();
		&:hover {
			opacity: 1;
		}
		.logo {
			width: 5rem;
			height: 5rem;
		}
		.website {
			font-size: 1.5em;
			font-weight: 300;
			color: inherit;
			margin: .5em 0 0em;
			
		}
	}
	.contact {
		border-bottom: solid 1px @color-gray-light;
		margin: 0  auto .5em;
		padding: .5em 1em;
		font-size: 1.5rem;
		color: @color-gray-light;
		transition: 0.3s ease;
		max-width: 320px;

		a {
			color: inherit;
			transition: 0.3s ease;
			margin: 0 .25em;
			&:hover {
				color: @color-white;
			}
		}
	}
	p {
		color: inherit;
		font-size: 1em;
		margin: 0
	}

}


 .home footer {
    color: @color-gray-medium;
    order: 3;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: none;
    box-shadow: none;
  	.contact {
  		color: inherit;
  		a:hover {
  			color: @color-gray-dark
  		}
  	}

    // @media screen and (min-width: @screen-md) {
    //   flex-grow: 1;
    //   width: 100%;
    // }


  // }
}