body > header {		
	font-family: @font-serif;
	padding: 5em 0;
	position: relative;
	background: @color-gray-dark 50% no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	box-shadow: @shadow-level-2;
	.header-content {
		text-align: center;
	}
	color: @color-white;;
	font-size: 1em;
	@media screen and (min-width: @screen-xs) {
		font-size: 1.5em;
		// padding: 7.5em 0;
	}
	@media screen and (min-width: @screen-sm) {
		font-size: 2em;

	}
	@media screen and (min-width: @screen-md) {
		font-size: 3em;
	}
	@media screen and (min-width: @screen-lg) {
		font-size: 4em;

	}
	
	h1 {
		font-size: 3em;
		margin: 0;
		font-weight: 700;
	}
	h3 {
		font-size: .8em;
		margin: 0;
		font-weight: 300;
	}
}