
header, footer {
	.blizzard-shop & {
		background: @color-accent;
	}
	.blizzard-content & {
		background: @color-accent;
	}
	.blizzard-nav & {
		background: @color-accent;
	}
	.healthicity-login & {
		background: @color-accent;
	}
	.experticity-store & {
		background: @color-accent;
	}
	.healthicity-dashboard & {
		background: @color-accent;
	}
}

section.portfolio-piece {
	max-width: 1000px;
	margin: 0 auto;
	background-color: @color-background;

	// styles
	.section-title {
		margin-top: 100px;
		@media (min-width: 768px) {
			margin: 50px 0 -30px -20px;
		}
		@media (min-width: 1200px) {
			margin: 50px 0 -40px -30px;
		}
	}
	.title {
		font-size: 7em;
		margin-bottom: 30px;
		@media (min-width: 768px) {
			font-size: 10em;
		}
		@media (min-width: 1200px) {
			font-size: 12em;
		    transform: rotate(90deg);
		    position: absolute;
		    top: 245px;
		    left: -92px;
		    width: 550px;
		    margin: 0;
		}

	}
	.overview {
		padding-bottom: 24px;
		@media (min-width: 1150px) {
			// padding-left: 70px;
		}

		p, li {
			font-weight: 300;
			line-height: 1.4em;
			font-size: 16px;
		}

	}


	header, main, footer {

		grid-column-gap: 24px;
		padding: 36px;
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	header {
		h1, h3, h4, p, li {
			color: @color-background;
		}

		.title {
			@media (min-width: 768px) {
				// grid-column: 1 / span 2;
				// grid-row: 3;
			}

		}
		.overview {
			padding-top: 50px;
			@media (min-width: 768px) {
				grid-column: 1 / span 2;
				grid-row: 4;
			}
			@media (min-width: 1200px) {
				grid-column: 2 / span 2;
				grid-row: 3;
			}
		}

		.preview {
			width: 100%;
			margin-bottom: -200px;
			@media (min-width: 768px) {
				grid-column: 1 / span 2;
				grid-row: 5;
			}
			@media (min-width: 1200px) {
				grid-column: 2 / span 2;
			}
		}
		.details {

			@media (min-width: 768px) {

				grid-column: 2;
				grid-row: 1;
				align-self: end;
				text-align: right;
			}
			@media (min-width: 1200px) {
				grid-column: 1;
				grid-row: 5;
				align-self: end;
				text-align: right;

			}
		}
		blockquote {
			grid-column: 3;
			grid-row: 5;
		}
	}
	main {
		margin-top: 100px;
		.background, .discovery, .design, .deliver {
			display: contents;
		}
		.temp { //Delete after temp files are gone
			@media (min-width: 768px) {
				grid-column: 1 / span 3;
				display: grid;
				grid-column-gap: 60px;
				grid-template-columns: 1fr 1fr;
				.section-title {
					grid-column: 1 / span 2;
					z-index: 101;
				}
				.left {
					grid-column: 1;
					margin-bottom: 24px;
				}
				.right {
					grid-column: 2;
					margin-bottom: 24px;
				}
				.all {
					grid-column: 1 / span 2;
					margin-bottom: 24px;
				}
				.middle {
					grid-column: 1 / span 2;
					max-width: 600px;
					margin: 0 auto;
					margin-bottom: 24px;
					h5 {
						text-align: center;
					}
				}
				.full {
					grid-column: 1 / span 2;
					max-width: 100%;
				}
				.overview {
					grid-column: 1 / span 2;
					font-weight: 400;
					line-height: 1.4em;
					font-size: 16px;
				}
			}
			img, video {
				width: 100%;
			}
			h4 {
				text-align: left;
				margin: 50px 0 10px;
			}
			h5 {
				margin-bottom: 24px;
			}

		}
		// .background {
		// 	.section-title {
		// 		grid-column: 1 / span 3;
		// 		grid-row: 1;
		// 	}
		// 	.overview {
		// 		grid-column: 1 / span 3;
		// 		grid-row: 2;
		// 	}
		// 	.why {
		// 		grid-column: 1;
		// 		grid-row: 3;
		// 	}
		// 	.goals {
		// 		grid-column: 2;
		// 		grid-row: 3;
		// 	}
		// 	.kpis {
		// 		grid-column: 3;
		// 		grid-row: 3;
		// 	}
		// }
		// .discovery {
		// 	.section-title {
		// 		grid-column: 1 / span 3;
		// 		grid-row: 4;
		// 	}
		// 	.descrtiption {
		// 		grid-column: 1 / span 2;
		// 	}
		//
		// 	.support-image {
		// 		grid-column: 3;
		// 	}
		// }
		// .design {
		// 	.section-title {
		// 		grid-column: 1 / span 3;
		// 	}
		// 	.descrtiption {
		// 		grid-column: 1 ;
		// 	}
		// 	.support-image {
		// 		grid-column: 2 / span 2;
		// 	}
		// }
		// .deliver {
		// 	.section-title {
		// 		grid-column: 1 / span 3;
		// 	}
		// 	.overview {
		// 		grid-column: 1 / span 3 ;
		// 	}
		//
		// 	.delivery {
		// 		grid-column: 1 / span 3;
		// 	}
		// 	.comp {
		//
		// 	}
		// 	.descrtiption {
		// 	}
		//
		// }
	}
	footer {
		color: @color-background;
		.more-info {
			grid-column: 1 / span 2;
		}
	}

}
