
@import "index";
@import "portfolio-piece";
@import "modal";


// Variables
@color-text: 			#333735;
@color-accent: 		@color-shop;
@color-background: 		#E7E7DB;

@color-shop: 			#B3413D;
@color-content: 		#1A5190;
@color-nav: 			#319984;

@color-healthicity:   	#ff3d4d;
@color-experticity: 	#f04236;
@color-verisk:        	#0177a9;
@color-needle:      	#02bfd3;
@color-blizzard: 		#002650;


@font-sans: 			'Roboto', sans-serif;






//global
*, *::after, *::before{
	box-sizing: border-box;
	transition: all 300ms;
}

.todo {
	color: red !important;
}


//Styles
html {
	height: 100%;
	background: white;
	background: @color-background;
}

body {
	font-family: @font-sans;
	font-size: 10px;
	color: @color-text;
	background: @color-background;
	background-blend-mode: multiply;
	position: relative;
	width: 100%;
	min-height: 100%;
}

img {
	max-width: 100%;
}

// Type

h1 {
	font-size: 5em;
	font-weight: 800;
	line-height: 0.9em;
	margin: 0;
	color: fade(@color-text, 80%);
	@media (min-width: 768px) {
		font-size: 10em;
	}
	@media (min-width: 1200px) {
		font-size: 15em;
	}

}

h2 {
	font-size: 5em;
	font-weight: 800;
	color: fade(@color-text, 30%);
	margin: 0;
	@media (min-width: 768px) {
		font-size: 8em;
	}
	@media (min-width: 1200px) {
		color: fade(@color-text, 15%);
		font-size: 11.5em;
	}
}

h3 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 0 ;
}
h4 {
	font-size: 1.75em;
	font-weight: 600;
	margin: 0;
}
h5 {
	margin-top: 1rem;
	font-size: 1.25em;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0;
}
p {
	font-size: 1.6em;
	font-weight: 300;
	margin: 0 0 1rem;
	line-height: 1.3em;
}

.large {
	font-size: 2em;
	font-weight: 200;
}
ul, ol {
	padding: 0
}
li {
	font-size: 1.6em;
	font-weight: 300;
	margin: 0 0 1rem;
	line-height: 1.5em;
	margin-left: 1rem;
}
a {
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}
