
@import "mixins";

@import "home";
@import "footer";
@import "header";
@import "navigation";
@import "casestudy";
@import "case-studies";
@import "animations";

// Variables
@color-primary: 		#40C5A7;
@color-secondary: 		#439785; 

@color-dribble:       #CE3F75;
@color-medium:        #00ac6a;
@color-linkedin:      #0077B5;

@color-background:    whitesmoke;


@color-white:        #fff;
@color-gray-lighter:    #d6d8d3;
@color-gray-light:    #bcbeb9;
@color-gray-medium:   #93968f;
@color-gray-dark:     #585953;

@color-blue-darker:     rgba(52, 73, 94, 1);
@color-blue-darker-a:    rgba(52, 73, 94, 0.8);
@color-blue-dark:     #425d78;
@color-blue-medium:     #2980b9;
@color-blue-light:     #3498db;



@color-cool-darker:     rgba(67, 73, 79, 1);
@color-cool-darker-a:    rgba(67, 73, 79, 0.8);






@color-green-darker:     rgba(50, 120, 100, 1);
@color-green-darker-a:   rgba(50, 120, 100, 0.8);
@color-green-dark:     #439785;
@color-green-medium:     #40c5a7;
@color-green-light:     #8ae6d4;



@color-healthicity:   #ff3d4d;
@color-experticity:   #f04236;
@color-verisk:        #0177a9;
@color-needle:        #02bfd3;

@box-padding:        1em;
@box-padding-xs:     2em;

@text-color: 			    #000;
@link-color: 			    fade(@text-color, 80%);
@nav-text-color:      gray;
@text-size:				   16px;
@text-line-height: 		1.6em;
@font-serif:          'Merriweather', serif;
@font-sans: 			     'Roboto', sans-serif;
@text-weight:			    300;


@screen-xs:             320px;
@screen-sm:             600px;
@screen-md:             768px;
@screen-lg:             1025px;
@screen-xl:             1500px;
@screen-xxl:            1800px;

@shadow-level-1:          0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
@shadow-level-2:          0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
@shadow-level-2r:          0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);



//global 
*, *::after, *::before{
	box-sizing: border-box;
	// transition: all 300ms;
}


//Styles
html {
	height: 100%;
}

body {
  font-family: @font-sans;
  font-size: 10px;
  color: @color-gray-dark;
  background: @color-background;
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}


// Type

h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: @font-serif;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  font-family: @font-serif;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}
h4 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
}
h5 {
  margin-top: 1rem;
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  color: @color-gray-light;
}
p {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5em;
}
ul {
  padding: 0
}
li {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 1.5em;
  margin-left: 1rem;
}
a {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

